body {
    background-image: url("http://www.planwallpaper.com/static/images/wood_background_hd_picture_4_169843.jpg");
    height: 60px;
    position: relative;
    top: 5px;
    width: 100%;
    background-size: cover;
    background-attachment: scroll;
    text-align: center;
    background-repeat: repeat;


}

.header {
    font-size: larger;
    background-color: #a9360b;
    text-align: center;
    border-width: 6px;
    border-style: solid;


}

h1 {
    color: #ff7d06;
    text-align:center;

}

thead th {
    background: lightpink;
    color: #500a6f;
    font-family: inherit;
    font-size: 12px;
    font-weight: 100;
    letter-spacing: 2px;
    text-transform: uppercase;


}

.jumbotron {
    font-family:sans-serif, Arial, Verdana, "Trebuchet MS";
    font-size: inherit;
    border-style: solid;
    border-width: inherit;
    border-color: #cd3d27;

}

.weedh-descriptionh {
    font-style: italic;

}


th, td {
    font-family: 'lato', Sans-Serif;
    font-weight: 400;
    padding:20px;
    text-align: center;
    width:333.333%;
    font-size: 18px;

}

p {
    color: #fdfff8;
    font-size: 100%;
}

h2 {
    color: #62c928;
}

h3 {
    color: #248a1d;
}

.footer {
    ont-size: larger;
    background-color: #a9360b;
    text-align: center;
    border-width: 6px;
    border-style: solid;
}

a {
    border-width: inherit;
    border-style: groove;
    color: #061bff;
    font-size: 100%;


}
